<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.servelt.examples.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MVCControllerServlet</display-name>
    <servlet-name>MVCControllerServlet</servlet-name>
    <servlet-class>com.servelt.examples.MVCControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCControllerServlet</servlet-name>
    <url-pattern>/MVCControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>com.jdbc.project.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectQueryServlet</display-name>
    <servlet-name>SelectQueryServlet</servlet-name>
    <servlet-class>com.jdbc.project.SelectQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectQueryServlet</servlet-name>
    <url-pattern>/SelectQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateQueryServlet</display-name>
    <servlet-name>CreateQueryServlet</servlet-name>
    <servlet-class>com.jdbc.project.CreateQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQueryServlet</servlet-name>
    <url-pattern>/CreateQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilServlet</display-name>
    <servlet-name>UtilServlet</servlet-name>
    <servlet-class>com.jdbc.project.UtilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilServlet</servlet-name>
    <url-pattern>/UtilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQueryServelt</display-name>
    <servlet-name>InsertQueryServelt</servlet-name>
    <servlet-class>com.jdbc.project.InsertQueryServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQueryServelt</servlet-name>
    <url-pattern>/InsertQueryServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQueryServlet</display-name>
    <servlet-name>UpdateQueryServlet</servlet-name>
    <servlet-class>com.jdbc.project.UpdateQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQueryServlet</servlet-name>
    <url-pattern>/UpdateQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQueryServlet</display-name>
    <servlet-name>DeleteQueryServlet</servlet-name>
    <servlet-class>com.jdbc.project.DeleteQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQueryServlet</servlet-name>
    <url-pattern>/DeleteQueryServlet</url-pattern>
  </servlet-mapping>
</web-app>